.container {
	position: relative;
	width: 100%;
}


.textOverlay {
	opacity: 1;
	transition: opacity 1s;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	z-index: 1;
}
.hide {
	opacity: 0;
}
.title {
	display: flex;
	flex-flow: col nowrap;
	align-items: flex-end;
	margin-left: 50px;
	min-width: 300px;
	min-height: 200px;
}

.synopsis p {
	min-width: 200px;
	max-width: 300px;
}

	
