.container {
	position: relative;
	min-height: 200px;
}

.imageSliderContainer { 
	height: 196px;
	max-width: 98%;
	float: left;
	position: relative;
	left: 100%;
	margin-left: -100%;
	overflow: hidden
}
.textOverlay {
	margin-right: -100%;
	opacity: 1;
	transition: opacity 1s;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.textOverlay.hide {
	opacity: 0;
}
.titleInfo svg, .brief svg {
	display: block;
	width: 100%;
	height: 5px;
	margin: 5px auto;
}
.titleInfo {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	min-width: 50%;
	margin: 5px 20px;
	height: 196px;
}
.titleInfo h2 {
	margin: 5px 0px;
}
.titleInfo svg {
	max-width: 300px;
	margin: 5px 5px 10px;
}
.brief {
	max-height: 196px;
	padding-top: 20px;
	transition: max-height 0.5s ease-in;
	overflow: hidden;
	width: 100%;
}
.brief .logo {
	margin: 5px auto;
	width: 50%;
	max-width: 100px;
}
.logo img {
	width: 100%;
}

.brief svg {
	width: 70%;
}
.brief p {
	height: 100%;
	margin:  5px 20px 10px;
	white-space: pre-wrap;
	overflow: hidden;
	-webkit-background-clip: text;
  	background-clip: text

}

.dotSelector {
	position: absolute;
	z-index: 5;
	top: 200px;
	right: 20px;
	min-width: 100px;
}

@media screen and (min-width: 500px){
	.container {
		min-height: 300px;
	}
	.imageSliderContainer {
		width: 75%;
		height: 296px;
	}
	.titleInfo {
		margin-left: 50px;
		height: 296px;
	}
	.brief {
		width: 25%;
	}
	.brief .logo {
		margin: 10px auto;
		max-width: 40%;
	}
	.brief p {
		margin: 20px;
		transition: all 0.7s ease-in;
  		color:transparent;
  	}
	.brief:hover {
		max-height: 500px;
		padding-bottom: 50px;
		color: inherit;
	}
	.brief:hover p {
		color: inherit;
		height: auto;
	}
	.dotSelector {
		top: auto;
		bottom: 20px;
		right: 5%;
	}
}
