.container {
	position: relative;
	min-height: 200px;
}

.imageSliderContainer { 
	width: 70%;
	float: left;
	position: relative;
	left: 100%;
	margin-left: -100%;
	overflow: hidden
}
.textOverlay {
	margin-right: -100%;
	opacity: 1;
	transition: opacity 1s;
	height: auto;
	width: 100%;
	position: relative;
	z-index: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.textOverlay.hide {
	opacity: 0;
}
.titleInfo {
	display: flex;
	flex-flow: col nowrap;
	align-items: flex-end;
	min-width: 50%;
	margin-left: 50px;
	min-height: 200px;
}
.brief {
	height: fit-content;
	width: 30%;
}

	
