@import url("https://necolas.github.io/normalize.css/8.0.0/normalize.css");

h1, h2, h3, h4, a, p {
	color: #FFF;
	text-decoration: none;
	font-family: sans-serif
}

.app {
	background: #000
}
.banner {
	width: 100%;
}


@media screen and (min-width: 800px){
	.banner {
		width: 70%;
		max-width: 1000px;
		margin: 0px auto 0px;
	}
}





